@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-sky-blue);
    background-image: url("");
    color: var(--color-white);
}

h1 {
    font-size: 95.37px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

h2 {
    font-size: 76.29px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

h3 {
    font-size: 61.04px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

h4 {
    font-size: 48.83px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

h5 {
    font-size: 39.06px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.ws-large-bold {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.ws-regular-bold {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.ws-small-bold {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.ws-large {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.ws-regular {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.ws-small {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.ws-tiny {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.i-large-bold {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.i-regular-bold {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.i-small-bold {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-white);
}

.i-large {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.i-regular {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.i-small {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.i-tiny {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.i-super-tiny {
    font-size: 8px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    color: var(--color-white);
}

.glass-effect {
    background: linear-gradient(135deg, rgba(142, 222, 88, 0.62) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);
}




:root {
    --color-white: #F4F1FF;
    --color-gray-1: #9593A4;
    --color-gray-2: #83828C;
    --color-gray-3: #3E3B4C;
    --color-dark-1: #7833e3;
    --color-dark-2: #179ae1;
    --color-dark-3: #4696d8;
    --color-dark-4: #4b8fe1;

    --color-purple: #5E35DA;
    --color-dark-purple: #3D338D;
    --color-blue: #3B7FEF;
    --color-dark-blue: rgba(55, 57, 61, 0.21);
    --color-sky-blue: rgba(10, 5, 20, 0.84);
    --color-dark-sky-blue: #30CAF2;

    --font-family-work-sans: 'Work Sans';
    --font-family-inter: 'Inter';

    /* background-color: #060217; */
    color: white;
}

.glassmorphic-rectangle {
    border-radius: 16px;
    border: 0.01rem solid rgba(204, 202, 134, 0.36);
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0) 0%,
    rgba(222, 214, 173, 0.76) 100%);
    backdrop-filter: blur(21px);
}

.gradient-line {
    margin-top: 1px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-source: linear-gradient(270deg,
            rgba(46, 55, 146, 0) 0%,
    #4a5ad3 27.6%,
            #00f5f1 74.48%,
            rgba(0, 245, 241, 0) 100%);
}

.scrollFadeIn {
    opacity: 0;
    transition: 0.5s;
}

/* Floating Animation Up and Down */
.floating {
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
